    .inventoryEquipping {
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #2c2c2c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1px;
    vertical-align: top;
    color: #00FFFD;
    line-height: 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.nameItemInCell {
    position: absolute;
    top: -20px;
    left: 0;
    background-size: 100% 2px;
    background-image: linear-gradient(0deg, rgba(7, 41, 60, 0.8), rgba(0, 62, 95, 0.8));
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    min-height: 10px;
    min-width: 40px;
    padding: 5px;
    z-index: 950;
    text-shadow: 1px 1px 2px black, 0 0 1em #696969; /* Параметры тени */
    color: yellow;
}

.InventoryCell {
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    float: left;
    position: relative;
}

.itemIconInventoryCell {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 2px white);
    z-index: 0;
    background-position: center;
    top: 0;
    left: 0;
}

.hover {
    box-shadow: 0 0 5px 1px rgb(255, 246, 0);
}

.noAllowCell {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0) 40%, rgb(249, 14, 24) 50%, rgba(30, 87, 153, 0) 60%, rgba(30, 87, 153, 0) 100%);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.InventoryCell.ui-selecting {
    box-shadow: 0 0 5px 2px rgb(255, 149, 32);
}

.InventoryCell.ui-selected {
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
}

.InventoryCell:hover {
    box-shadow: 0 0 5px 2px rgb(255, 149, 32);
    cursor: pointer;
}

.InventoryCell.notAllow {
    box-shadow: inset 0 0 25px 5px rgb(145, 145, 145);
}

.InventoryCell.notAllow div {
    filter: blur(5px) saturate(0);
}

.InventoryCell:active {
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
}

.InventoryCell.Select {
    box-shadow: 0 0 5px 3px rgb(255, 243, 38);
}

.InventoryCell.Select.Remove {
    box-shadow: 0 0 5px 3px rgb(255, 0, 0);
}

.inventoryEquipping.active {
    line-height: 35px
}

.inventoryEquipping.active.select {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
}

.inventoryEquipping.active.weapon {
    box-shadow: 0 0 5px 3px rgb(255, 0, 0);
    line-height: 0;
}

.inventoryEquipping.noActive {
    border: 1px solid #2c2c2c;
}

.inventoryEquipping.noActive:before {
    content: "N/A";
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    text-shadow: -0 -1px 0 #382626,
    0 -1px 0 #382626,
    -0 1px 0 #382626,
    0 1px 0 #382626,
    -1px -0 0 #382626,
    1px -0 0 #382626,
    -1px 0 0 #382626,
    1px 0 0 #382626,
    -1px -1px 0 #382626,
    1px -1px 0 #382626,
    -1px 1px 0 #382626,
    1px 1px 0 #382626,
    -1px -1px 0 #382626,
    1px -1px 0 #382626,
    -1px 1px 0 #382626,
    1px 1px 0 #382626;
}

.inventoryEquipping.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4c4c4c), color-stop(20%, #1AA9DA), color-stop(0%, #1AA9DA), color-stop(100%, #4c4c4c));
}

.inventoryEquipping.active:hover {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    color: #00fffd;
    cursor: pointer;
}

.inventoryEquipping.active:active {
    -webkit-box-shadow: 0 0 5px 3px rgb(165, 213, 239);
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
}

.inventoryUnit {
    position: relative;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1px;
    vertical-align: top;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1), 0 0 5px 1px rgba(0, 0, 0, 1);
}

.inventoryUnit .standardSizeBlock {
    border: 1px solid #959595;
    background-color: #4c4c4c;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 34px;
    left: 35px;
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    font-size: 11px;
    line-height: 14px;
}

.inventoryUnit.noActive {
    border: 1px solid #2c2c2c;
}

.inventoryUnit.noActive:before {
    text-align: center;
    content: "N/A";
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    text-shadow: -0 -1px 0 #382626,
    0 -1px 0 #382626,
    -0 1px 0 #382626,
    0 1px 0 #382626,
    -1px -0 0 #382626,
    1px -0 0 #382626,
    -1px 0 0 #382626,
    1px 0 0 #382626,
    -1px -1px 0 #382626,
    1px -1px 0 #382626,
    -1px 1px 0 #382626,
    1px 1px 0 #382626,
    -1px -1px 0 #382626,
    1px -1px 0 #382626,
    -1px 1px 0 #382626,
    1px 1px 0 #382626;
    line-height: 45px;
}

.inventoryUnit.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4c4c4c), color-stop(20%, #1AA9DA), color-stop(0%, #1AA9DA), color-stop(100%, #4c4c4c));
}

.inventoryUnit.select.repair {
    box-shadow: 0 0 5px 3px rgb(255, 243, 38);
}

.inventoryUnit.select {
    -webkit-box-shadow: 0 0 5px 3px rgb(165, 213, 239);
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
    color: #00fffd;
    font-size: 11px;
}

.inventoryUnit.select span {
    display: block;
    margin-top: 15px;
}

.inventoryUnit.active {
    color: #00fffd;
    font-size: 11px;
}

.inventoryUnit.active span {
    display: block;
    margin-top: 15px;
}

.inventoryUnit.active:hover {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    cursor: pointer;
}

.QuantityItems {
    z-index: 1;
    position: relative;
    bottom: 4px;
    left: 2px;
    font-family: Arial;
    font-size: 9px;
    color: #fff16f;
    text-shadow: -0 -1px 1px #000000,
    0 -1px 1px #000000,
    -0 1px 1px #000000,
    0 1px 1px #000000,
    -1px -0 1px #000000,
    1px -0 1px #000000,
    -1px 0 1px #000000,
    1px 0 1px #000000,
    -1px -1px 1px #000000,
    1px -1px 1px #000000,
    -1px 1px 1px #000000,
    1px 1px 1px #000000,
    -1px -1px 1px #000000,
    1px -1px 1px #000000,
    -1px 1px 1px #000000,
    1px 1px 1px #000000;
}

.inventoryAmmoCell {
    top: -5px;
    left: 10px;
    position: relative;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #2c2c2c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 5px 3px rgb(200, 200, 0);
    box-shadow: 0 0 2px 2px rgb(200, 200, 0);
    z-index: 911;
}

.healBar {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
}

.backInventoryHealBar, .backEquipHealBar, .backWeaponHealBar, .backBodyHealBar {
    width: 20px;
    height: 3px;
    border: 1px solid black;
    position: absolute;
    bottom: 5px;
    left: calc(50% - 10px);
}

.backEquipHealBar {

}

.backWeaponHealBar {
    position: absolute;
    margin-left: 6px;
    margin-top: 6px;
}

.backBodyHealBar {
    top: 20px;
}

.InventoryHead, .SquadHead {
    display: block;
    width: 65px;
    height: 17px;
    margin: 2px auto 3px;
    background: linear-gradient(0deg, red, yellow);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.SquadHead {
    margin: -26px 0 0 65px;
    position: absolute;
}