body {
    text-align: center;
    background-color: #7f7f7f;
    background-image: url("../../assets/bases/base.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#ServiceTable {
    top: 15px;
    left: 15px;
    text-align: center;
    float: left;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    border-radius: 5px;
    position: relative;
    padding: 2px;
}

#ServiceTable div {
    height: 30px;
    width: 30px;
    filter: drop-shadow(0 0 2px black);
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 5px;
    margin: 2px 5px 2px 5px;
    float: left;
    transition: 0.2s;
    background-size: contain;
}

#ServiceTable div:hover {
    background-color: #b4eaff;
}

#ServiceTable div:active {
    transform: scale(0.95);
}

@keyframes selectMenu {
    0% {
        box-shadow: 0 0 15px 0 rgb(252, 255, 0);
    }
    95% {
        box-shadow: 0 0 30px 15px rgba(204, 169, 44, 0);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
}

@keyframes selectMenu2 {
    0% {
        box-shadow: 0 0 15px 0 rgb(0, 255, 46);
    }
    95% {
        box-shadow: 0 0 30px 15px rgba(204, 169, 44, 0);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
}

@keyframes selectMenu3 {
    0% {
        box-shadow: 0 0 15px 0 rgb(255, 0, 8);
    }
    95% {
        box-shadow: 0 0 30px 15px rgba(204, 169, 44, 0);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
}

@keyframes selectMenu4 {
    0% {
        box-shadow: 0 0 15px 0 rgb(0, 37, 255);
    }
    95% {
        box-shadow: 0 0 30px 15px rgba(204, 169, 44, 0);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
}

#choiceBlock {
    position: absolute;
    width: 620px;
    height: 420px;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    border-radius: 5px;
    left: calc(50% - 350px);
    top: 100px;
    z-index: 999;
    padding: 10px;
}

.fraction {
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 5px;
    height: 345px;
    width: 200px;
    float: left;
    margin-right: 10px;
}

.fraction:last-child {
    margin-right: 0;
}

#choiceBlock h3 {
    margin: 7px;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.fraction div {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}


#choiceBlock p {
    font-size: 12px;
    margin: 0;
    text-align: left;
    color: rgb(0, 255, 253);
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#choiceBlock .fraction p {
    box-shadow: inset 0 0 5px black;
    background: #79a0b4;
    height: 100px;
    width: 160px;
    margin: 10px auto 4px;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
}

#introduction {
    width: 100%;
    height: 70px;
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 5px;
    margin-bottom: 5px;
}

#choiceBlock input {
    transition: 0.2s;
}

#choiceBlock input:active {
    transform: scale(0.9);
}