#Workbench {
    width: 480px;
    height: 280px;
    padding: 23px 3px 3px 3px;
}

#Workbench .RecycleSection {
    float: left;
    width: 100%;
}

#Workbench #bluePrints, #Workbench #detailWork, #currentCrafts {
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    height: 260px;
    width: 180px;
    border-radius: 5px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#Workbench #bluePrints {
    height: 145px;
    overflow-y: scroll;
    padding: 0;
    width: 200px;
}

#currentCrafts {
    height: 128px;
    float: left;
    margin: 6px 3px 3px 0;
    overflow-y: scroll;
    padding: 0;
    width: 200px;
}

#Workbench #detailWork {
    width: 255px;
    float: right;
}

#Workbench .blueHead {
    width: 173px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 17px;
}

#bpName, #workStatus div {
    float: left;
    text-align: left;
    height: 17px;
    border-radius: 5px;
    border: 1px solid #25a0e1;
    z-index: 999;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    line-height: 15px;
    margin: 0px 0 0 10px;
    width: 186px;
    box-shadow: 0 0 5px black;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding-left: 10px;
}

#bpIcon, #itemPreview {
    height: 65px;
    width: 65px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    background: rgba(63, 70, 74, 0.5);
    border-radius: 5px;
    float: left;
}

#bpIcon {
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: cover;
}

#itemPreview {
    margin-top: 10px;
    float: right;
    background-position: center;
    background-size: contain;
}

#itemPreview span {
    float: right;
    color: #ffffff;
    line-height: 114px;
}

#needItems {
    height: 210px;
    width: 175px;
    box-shadow: inset 0 0 5px black;
    background: #79a0b4;
    position: relative;
    margin-top: 7px;
    border-radius: 5px;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}

#workStatus {
    float: left;
}

#workStatus div {
    width: 42px;
    text-align: right;
    margin: 7px 5px 0 10px;
    line-height: 18px;
    padding-right: 5px;
    box-shadow: inset 0 0 2px black;
    border: 0;
    font-size: 11px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-color: #79a0b4;
}

#Workbench input[type="number"], #countHead, #bpCraftTime {
    text-align: center;
    float: left;
    width: 70px;
    line-height: 18px;
    padding-right: 5px;
    box-shadow: inset 0 0 2px black;
    border: 0;
    font-size: 11px;
    outline: none;
    padding-left: 5px;
    border-radius: 5px;
    color: #ff7800;
    margin-top: 3px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#countHead, #bpCraftTime {
    background: #79a0b4;
    height: 20px;
}

#Workbench input[type="button"] {
    width: 60px;
    position: absolute;
    bottom: -3px;
    right: 0;
}

#Workbench .ui-resizable-s {
    position: absolute;
    bottom: 0;
}

#ButtonWrapper {
    float: left;
    width: 70px;
    margin: 7px 2px 2px 5px;
    position: relative;
    height: 155px;
}

#Workbench .blueRow {
    padding: 0 10px;
    margin: 2px 0;
    text-align: center;
    box-shadow: inset 0 0 2px black;
    border: 0;
    font-size: 11px;
    color: #9bc9f1;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    height: 16px;
    line-height: 14px;
    transition: 0.1s;
    min-width: 170px;
}

#Workbench .blueRow:hover {
    transform: scale(1.01);
    color: #66f5ff;
    background: rgba(44, 44, 44, 0.15);
}

#Workbench .blueRow .nameBP {
    float: left;
}

#Workbench .blueRow .countBP {
    float: right;
    color: #d6caca;
    line-height: 17px;
}

#Workbench .blueRow .timerWork {
    float: right;
    color: #e6e6e6;
    line-height: 14px;
    font-size: 10px;
    width: 80px;
    text-align: center;
    background: #ecd4b7;
    height: 12px;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px black;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.workTimeLine {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 49%;
    background: #ff9d07;
    z-index: -1;
    box-shadow: inset 0 0 5px black;
}