#ActionPanel {
    display: block;
    border-radius: 5px;
    width: 250px;
    height: 42px;
    float: right;
}

#ActionPanelWrapper {
    height: 40px;
    border-radius: 5px;
    float: left;
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    padding: 5px;
}

#ActionPanelWrapper div {
    position: relative;
    width: 34px;
    height: 34px;
    float: left;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-repeat: no-repeat;
    margin: 2px;
    transition: 0.2ms;
}

#ActionPanelWrapper div:hover {
    box-shadow: inset 0 0 5px rgb(187, 255, 241) !important;
}

#ActionPanelWrapper div:active {
    transform: scale(0.98)
}