@font-face {
    font-family: FireFigh;
    src: url("../fonts/firefightbb_reg.ttf");
}

#displayNotify {
    position: absolute;
    width: 100%;
    pointer-events: none;
    top: 30px;
}

#lowGravity, #criticalDamage, #catchAnomaly {
    visibility: hidden;
    font-family: FireFigh;
    width: 100%;
    text-align: center;
    height: 50px;
    color: #bdbd00;
    font-size: 50px;
    animation: LowGravity 2s infinite;
    text-shadow: 2px 2px 0 #13110e, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0 0 #c5c3bf, 0 2px 0 #c5c3bf, -2px 0 0 #c5c3bf, 0 -2px 0 #c5c3bf, 2px 2px 2px rgba(164, 4, 4, 0);
}

#criticalDamage {
    color: #bd0600;
    margin-top: 30px;
    animation: LowGravity 1s infinite;
}

#catchAnomaly {
    margin-top: 30px;
    color: #1bbdb7;
}

@keyframes LowGravity {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.2;
    }
}