#statusBar {
    position: relative;
    float: left;
    display: block;
    width: 302px;
    height: 46px;
    z-index: 999;
}

#stopMove {
    position: absolute;
    display: block;
    top: 51px;
    left: 6px;
    background: #4c4c4c;
    height: 20px;
    width: 37px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #959595;
    box-shadow: inset 0 0 5px black;
    border-top: 0;
    color: #6b1919;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    text-align: center;
    line-height: 20px;
}

#stopMove:hover {
    color: red;
    box-shadow: inset 0 0 5px #ff4208;
}

#stopMove:active {
    background: red;
}

#statusBar #Thorium {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 2px;
    float: left;
    word-wrap: break-word;
    text-align: left;
    text-shadow: #28a5e4 0 0 4px;
    font-family: sans-serif;
    font-size: 9pt;
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
}

#statusBar #Thorium .Thorium {
    position: relative;
    width: 34px;
    height: 34px;
    float: left;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-repeat: no-repeat;
    margin: 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    line-height: 46px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#statusBar #Thorium .Thorium:hover {
    box-shadow: inset 0 0 5px rgb(187, 255, 241) !important;
}

#statusBar #Thorium .Thorium:active {
    box-shadow: inset 0 0 5px rgb(84, 184, 255) !important;
}

#statusBar #Thorium .Thorium.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4c4c4c), color-stop(20%, #1AA9DA), color-stop(0%, #1AA9DA), color-stop(100%, #4c4c4c));
}

#statusBar #Thorium .Thorium.noActive:after {
    content: "N/A";
    font-size: 14px;
    padding: 5px;
    color: #adadad;
    position: relative;
    top: -6px;
}

.wrapper {
    width: 28px;
    position: absolute;
    left: calc(50% - 14px);
    bottom: 2px;
}

.WorkOutBar {
    width: 100%;
    height: 4px;
    overflow: visible;
    background: rgb(255, 130, 14);
    border-radius: 2px;
}

#speedBarEfficiency, #thoriumBarEfficiency {
    height: 18px;
    width: 50px;
    line-height: 19px;
    user-select: none;
    text-align: right;
    padding-right: 4px;
    background: url(https://img.icons8.com/color/52/000000/speedometer.png) -1px center / 50% no-repeat, rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    border: 1px solid #959595;
    margin: 1px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    font-size: 9px;
    color: #00FFFD;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#thoriumBarEfficiency {
    top: 24px;
    left: 128px;
    background: url(https://img.icons8.com/color/52/000000/gas-station.png) 3px center / 40% no-repeat, rgba(0, 0, 0, 0.21);
}

#backAfterburner {
    height: 40px;
    width: 40px;
    float: left;
    background: #4c4c4c;
    margin: 5px 2px;
    border-radius: 5px;
}

#Afterburner {
    height: 100%;
    width: 100%;
    background: url(https://img.icons8.com/ultraviolet/64/000000/biohazard.png) center center / 100% no-repeat;
}

#Afterburner:hover {
    filter: drop-shadow(0px 0px 4px #dd0019) !important;
}

#Afterburner:active {
    background: url(https://img.icons8.com/ultraviolet/64/000000/biohazard.png) center center / 90% no-repeat;
}

@keyframes alertPulse {
    0% {
        -moz-box-shadow: inset 0 0 5px 0 rgb(255, 209, 0);
        box-shadow: inset 0 0 5px 0 rgb(255, 241, 13);
    }
    70% {
        -moz-box-shadow: inset 0 0 10px 10px rgba(204, 169, 44, 0);
        box-shadow: inset 0 0 10px 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: inset 0 0 10px 0 rgba(204, 169, 44, 0);
        box-shadow: inset 0 0 0 10px rgba(204, 169, 44, 0);
    }
}

#reactorStatus {
    background: url(https://img.icons8.com/plasticine/100/000000/charge-battery.png) center -4px / 77% no-repeat, rgba(0, 0, 0, 0.21);
    width: 70px;
    height: 44px;
    float: left;
    margin: 3px 3px;
    border-radius: 5px;
}

#countPower, #recoverPower {
    font-size: 10px;
    color: #00e1ff;
    margin-top: 1px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#recoverPower {
    color: #83ff00;
    margin-top: 20px;
}

@keyframes noCountPulse {
    0% {
        -moz-box-shadow: inset 0 0 5px 0 rgb(255, 15, 3);
        box-shadow: inset 0 0 5px 0 rgb(255, 12, 14);
    }
    70% {
        -moz-box-shadow: inset 0 0 10px 10px rgba(204, 169, 44, 0);
        box-shadow: inset 0 0 10px 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: inset 0 0 10px 0 rgba(204, 169, 44, 0);
        box-shadow: inset 0 0 0 10px rgba(204, 169, 44, 0);
    }
}

@keyframes Afterburner {
    0% {
        -moz-box-shadow: 0 0 5px 0 rgb(255, 15, 3);
        box-shadow: 0 0 5px 0 rgb(255, 12, 14);
    }
    70% {
        -moz-box-shadow: inset 0 0 10px 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 10px 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: inset 0 0 10px 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
}