#weaponSlotSubMenu {
    position: absolute;
    top: 70px;
    left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: #2c2c2c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: auto;
}


.weaponSlotSubMenu.Active {
    box-shadow: 0 0 5px 3px rgb(255, 0, 0);
}

.weaponSlotSubMenu.Active:hover {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
}

.weaponSlotSubMenu.Active:active {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 255, 255);
    box-shadow: 0 0 5px 3px rgb(255, 255, 255);
}

.weaponSlotSubMenu.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c),color-stop(20%,#1AA9DA), color-stop(0%,#1AA9DA), color-stop(100%,#4c4c4c));
}

.weaponSlotSubMenu.noActive:before {
    text-align: center;
    content: "N/A";
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    text-shadow:
            -0   -1px 0   #382626,
            0   -1px 0   #382626,
            -0    1px 0   #382626,
            0    1px 0   #382626,
            -1px -0   0   #382626,
            1px -0   0   #382626,
            -1px  0   0   #382626,
            1px  0   0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626;
}

.equipSlotIII {
    height: 25px;
    width: 25px;
    border-radius: 30px;
    background-color: #2c2c2c;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: auto;
}

.equipSlotIII.notAllow {
    box-shadow: 0 0 5px 3px  #696969;
}

.equipSlotIII.Active {
    box-shadow: 0 0 5px 3px rgb(168, 193, 18);
}

.equipSlotIII.Active:hover {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
}

.equipSlotIII.Active:active {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 255, 255);
    box-shadow: 0 0 5px 3px rgb(255, 255, 255);
}

.equipSlotIII.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c),color-stop(20%,#1AA9DA), color-stop(0%,#1AA9DA), color-stop(100%,#4c4c4c));
}

.equipSlotIII.noActive:before {
    text-align: center;
    content: "N/A";
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    text-shadow:
            -0   -1px 0   #382626,
            0   -1px 0   #382626,
            -0    1px 0   #382626,
            0    1px 0   #382626,
            -1px -0   0   #382626,
            1px -0   0   #382626,
            -1px  0   0   #382626,
            1px  0   0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626;
}

#equipSlotIII1 {
    top: 10px;
    left: 40px;
}

#equipSlotIII2 {
    top: 5px;
    left: 70px;
}

#equipSlotIII3 {
    top: 10px;
    left: 100px;
}

#equipSlotIII4 {
    top: 35px;
    left: 55px;
}

#equipSlotIII5 {
    top: 35px;
    left: 85px;
}

.equipSlotII {
    height: 25px;
    width: 25px;
    border-radius: 30px;
    background-color: #2c2c2c;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: auto;
}

.equipSlotII.notAllow {
    box-shadow: 0 0 5px 3px  #696969;
}

.equipSlotII.Active {
    box-shadow: 0 0 5px 3px rgb(0, 190, 255);
}

.equipSlotII.Active:hover {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
}

.equipSlotII.Active:active {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 255, 255);
    box-shadow: 0 0 5px 3px rgb(255, 255, 255);
}

.equipSlotII.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c),color-stop(20%,#1AA9DA), color-stop(0%,#1AA9DA), color-stop(100%,#4c4c4c));
}

.equipSlotII.noActive:before {
    text-align: center;
    content: "N/A";
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    text-shadow:
            -0   -1px 0   #382626,
            0   -1px 0   #382626,
            -0    1px 0   #382626,
            0    1px 0   #382626,
            -1px -0   0   #382626,
            1px -0   0   #382626,
            -1px  0   0   #382626,
            1px  0   0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626;
}

#equipSlotII1 {
    top: 40px;
    right: 15px;
}

#equipSlotII2 {
    top: 75px;
    right: 10px;
}

#equipSlotII3 {
    top: 110px;
    right: 15px;
}

#equipSlotII4 {
    top: 133px;
    right: 40px;
}

#equipSlotII5 {
    top: 144px;
    right: 71px;
}