#inventoryEquip13 {
    position: relative;
    top: 47px;
    right: 20px;
}

#inventoryEquip23 {
    position: relative;
    top: 20px;
    right: 25px;
}

#inventoryEquip33 {
    position: relative;
    top: 6px;
    right: 23px;
}

#inventoryEquip43 {
    position: relative;
    top: 6px;
    right: 20px;
}

#inventoryEquip53 {
    position: relative;
    top: 20px;
    right: 20px;
}

#inventoryEquip12 {
    position: relative;
    right: 27px;
}

#inventoryEquip22 {
    position: relative;
    right: 9px;
}

#inventoryEquip42 {
    position: relative;
    right: 9px;
}

#inventoryEquip52 {
    position: relative;
    right: 27px;
}

#inventoryEquip11 {
    position: relative;
    bottom: 47px;
    right: 20px;
}

#inventoryEquip21 {
    position: relative;
    bottom: 20px;
    right: 25px;
}

#inventoryEquip31 {
    position: relative;
    bottom: 6px;
    right: 23px;
}

#inventoryEquip41 {
    position: relative;
    bottom: 6px;
    right: 20px;
}

#inventoryEquip51 {
    position: relative;
    bottom: 20px;
    right: 20px;
}