#UnitEquip11 {
    position: relative;
    top: -13px;
}

#UnitEquip21 {
    position: relative;
    top: -7px;
}

#UnitEquip31 {
    position: relative;
    top: -13px;
}

#UnitEquip12 {
    position: relative;
    right: 5px;
}

#UnitEquip22 {

}

#UnitEquip32 {
    position: relative;
    right: 5px;
}

#UnitEquip13 {
    position: relative;
    top: 13px;
}

#UnitEquip23 {
    position: relative;
    top: 6px;
}

#UnitEquip33 {
    position: relative;
    top: 13px;
}