.inventoryEquipping {
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #2c2c2c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1px;
    vertical-align: top;
}

.inventoryEquipping.active.select {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
}

.inventoryEquipping.active.weapon {
    box-shadow: 0 0 5px 3px rgb(255, 0, 0);
}

.inventoryEquipping.noActive:before {
    content: "N/A";
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    text-shadow:
            -0   -1px 0   #382626,
            0   -1px 0   #382626,
            -0    1px 0   #382626,
            0    1px 0   #382626,
            -1px -0   0   #382626,
            1px -0   0   #382626,
            -1px  0   0   #382626,
            1px  0   0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626;
}

.inventoryEquipping.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c),color-stop(20%,#1AA9DA), color-stop(0%,#1AA9DA), color-stop(100%,#4c4c4c));
}

.inventoryEquipping.active:hover {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    color: #00fffd;
    cursor: pointer;
}

.inventoryEquipping.active:active{
    -webkit-box-shadow: 0 0 5px 3px rgb(165, 213, 239);
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
}

.inventoryUnit {
    border-radius: 20px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1px;
    vertical-align: top;
}

.inventoryUnit.noActive:before {
    text-align: center;
    content: "N/A";
    font-family: Arial;
    font-size: 9px;
    color: #00FFFD;
    text-shadow:
            -0   -1px 0   #382626,
            0   -1px 0   #382626,
            -0    1px 0   #382626,
            0    1px 0   #382626,
            -1px -0   0   #382626,
            1px -0   0   #382626,
            -1px  0   0   #382626,
            1px  0   0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626,
            -1px -1px 0   #382626,
            1px -1px 0   #382626,
            -1px  1px 0   #382626,
            1px  1px 0   #382626;
}

.inventoryUnit.noActive {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c),color-stop(20%,#1AA9DA), color-stop(0%,#1AA9DA), color-stop(100%,#4c4c4c));
}

.inventoryUnit.select{
    -webkit-box-shadow: 0 0 5px 3px rgb(165, 213, 239);
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
}

.inventoryUnit.active:hover{
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    color: #00fffd;
    cursor: pointer;
}

.InventoryCell {
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 1px;
}

.QuantityItems {
    position:relative;
    bottom:-5px;
    left: 5px;
    font-family: Arial;
    font-size: 12px;
    color: #00FFFD;
    text-shadow:
            -0   -1px 1px #000000,
            0   -1px 1px #000000,
            -0    1px 1px #000000,
            0    1px 1px #000000,
            -1px -0   1px #000000,
            1px -0   1px #000000,
            -1px  0   1px #000000,
            1px  0   1px #000000,
            -1px -1px 1px #000000,
            1px -1px 1px #000000,
            -1px  1px 1px #000000,
            1px  1px 1px #000000,
            -1px -1px 1px #000000,
            1px -1px 1px #000000,
            -1px  1px 1px #000000,
            1px  1px 1px #000000;
}

.InventoryCell:hover {
    -webkit-box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    color: #00fffd;
    cursor: pointer;
}

.InventoryCell:active{
    -webkit-box-shadow: 0 0 5px 3px rgb(165, 213, 239);
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
}

.inventoryAmmoCell {
    top: -5px;
    left: 10px;
    position: relative;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #2c2c2c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 5px 3px rgb(200, 200, 0);
    box-shadow: 0 0 2px 2px rgb(200, 200, 0);
}