body {
    background-color: #696969;
    text-align: center;
    margin: 0;
    user-select: none;
}

input {
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 18px;
    box-shadow: inset 0 0 2px black;
    border: 0;
    font-size: 11px;
    background: #79a0b4;
    border-radius: 5px;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}


input[type="number"] {
    background: #7e919a;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 1px solid #25a0e1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background-size: 5px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

input:hover {
    background-color: rgba(0, 120, 211, 0.9);
}

input[type=button]:active {
    transform: scale(0.95);
}

input[type=submit]:active {
    transform: scale(0.95);
}

.ui-selectable-helper {
    border: 1px dotted #ffffff;
    z-index: 999;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    z-index: -1 !important;
    border-bottom: 3px solid #def4ff;
    border-right: 3px solid #def4ff;
    border-bottom-right-radius: 12px;
    width: 30px;
    height: 30px;
    bottom: -3px;
    right: -3px;
    background-image: none;
    filter: drop-shadow(0px 0px 2px #000000);
    pointer-events: auto;
}

.ui-resizable-handle.ui-resizable-ne {
    z-index: -1 !important;
    border-top: 2px solid #def4ff;
    border-right: 2px solid #def4ff;
    border-top-right-radius: 12px;
    width: 30px;
    height: 30px;
    top: -3px;
    right: -3px;
    background-image: none;
    filter: drop-shadow(0px 0px 2px #000000);
}

.ui-resizable-s {
    cursor: s-resize;
    height: 3px;
    width: 100%;
    bottom: -6px;
    left: 0;
    background: linear-gradient(22deg, rgb(253, 232, 0), #fc8000);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #4c4c4c;
    background: #def4ff;
    border-radius: 5px;
}

.ui-resizable-s:hover {
    background: #00FDFF;
    box-shadow: 0 0 3px #00FDFF;
}

.ui-resizable-s:active {
    background: #00FDFF;
    box-shadow: 0 0 3px #00FDFF;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se:hover {
    filter: drop-shadow(0px 0px 2px #00FDFF);
}

#mask {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

#fullMask {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
}

.h {
    font-weight: bold;
    text-shadow: #28a5e4 0 0 4px;
    color: #a5d5ef
}

.button.noActive {
    background-color: rgba(20, 81, 111, 0.5);
    text-shadow: rgba(45, 122, 170, 0.55) 0 0 4px;
    color: rgba(165, 213, 239, 0.67);
}

.button.noActive:active {
    top: 0;
}

.animateTable {
    z-index: 10;
    position: relative;
    box-shadow: 0 0 30px 0 rgb(0, 164, 255);
    border: 1px solid #25a0e1;
    border-radius: 10px;
    text-shadow: #28a5e4 0 0 4px;
    color: #a5d5ef;
    background-size: 100% 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

.table {
    position: relative;
    border: 1px solid #25a0e1;
    border-radius: 10px;
    text-shadow: #28a5e4 0 0 4px;
    color: #a5d5ef;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    background-size: 100% 2px;
}

.Failed {
    color: rgb(255, 95, 97);
}

.Success {
    color: rgb(27, 255, 4);
}

.Value {
    color: #00fffd
}

.moveWindow {
    text-shadow: #28a5e4 0 0 4px;
    color: #a5d5ef;
}

.moveWindow:hover {
    color: #00fffd;
}

.topButton {
    margin-top: 2px;
    color: #f9ff00;
    float: right;
    border-radius: 2px;
    height: 15px;
    width: 30px;
    background-size: 5px 2px;
    background-image: linear-gradient(1deg, rgba(23, 114, 166, 0.9), rgba(19, 76, 105, 0.9) 6px);
    margin-right: 10px;
    line-height: 13px;
    font-size: 23px;
    user-select: none;
    box-shadow: inset 0 0 5px black;
    pointer-events: auto;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.topButton:hover {
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
}

.windowsHead {
    top: 2px;
    left: 2px;
    display: block;
    position: absolute;
    height: 17px;
    background: linear-gradient(0deg, red, yellow);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* CUSTOM SCROLLBAR */
body ::-webkit-scrollbar,
body ::-webkit-scrollbar:horizontal {
    width: 12px;
}

body ::-webkit-scrollbar {
    background: rgba(165, 213, 239, 0.3);
    box-shadow: inset 0 0 5px black;
}

/* DISABLED STATES */
body ::-webkit-scrollbar:disabled {
    background: rgba(165, 213, 239, 0.31);
    box-shadow: inset 0 0 5px black;
}

/* HANDLE */
body ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb:window-inactive,
body ::-webkit-scrollbar-thumb:disabled {
    box-shadow: inset 0 0 5px black;
    background-size: 5px 2px;
    background: rgba(1, 77, 93, 0.5);
}

/*--------*/
body ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


#QuantityRange {
    position: absolute;
    left: calc(50% - 100px);
    top: 27px;
    width: 200px;
    height: 55px;
    display: block;
    background-size: 100% 2px;
    background-image: linear-gradient(0deg, rgba(7, 41, 60, 0.6), rgba(0, 62, 95, 0.5));
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 12;
}

#QuantityRange input[type=range] {
    float: left;
    margin-top: 10px;
    margin-left: 2px;
    width: 100px;
    margin-bottom: 5px;
    padding: 0;
}

#QuantityRange output {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#QuantityRange .iconItem {
    position: relative;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 5px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    float: left;
}

.veliriDialog {
    position: absolute;
    left: calc(50% - 100px);
    top: 50%;
    width: 200px;
    height: 75px;
    background-size: 100% 2px;
    background-image: linear-gradient(0deg, rgba(7, 41, 60, 0.6), rgba(0, 62, 95, 0.5));
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 12;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    color: white;
    font-size: 12px;
    padding-bottom: 3px;
}

.veliriDialog input {
    margin: 0 17px 0px;
}