.dialogBlock {
    position: absolute;
    display: block;
    width: 300px;
    height: 100px;
    z-index: 999;
    bottom: calc(50% + 150px);
    left: calc(50% - 150px);
    pointer-events: none;
}

.dialogBlock.Training .dialogText, .dialogBlock.Training .asks, .dialogBlock.Training #dialogPicture {
    border: 1px dashed #F8FF00;
    background-color: #E8651E;
    box-shadow: 0 0 4px 2px;
}

.dialogBlock.Training .asks {
    border: 1px solid #F8FF00;
}

.dialogBlock.Training .asks:hover {
    border: 1px solid #959c00;
}

.dialogBlock #dialogPicture {
    border-radius: 5px;
    height: 75px;
    width: 75px;
    border: 1px solid #25a0e1;
    background-color: rgba(33, 176, 255, 0.6);
    float: right;
    margin-bottom: 5px;
    position: absolute;
    right: -85px;
    pointer-events: auto;
}

.dialogBlock .dialogText {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: 1px solid #25a0e1;
    background-color: rgba(33, 176, 255, 0.6);
    padding: 19px 0 0;
    pointer-events: auto;
}

.wrapperText, #pictureBack, .wrapperAsk {
    pointer-events: auto;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    border-radius: 5px;
    text-align: justify;
    margin: auto auto 2px 3px;
    height: 77px;
    width: 274px;
    font-family: sans-serif;
    font-size: 9pt;
    float: left;
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    color: #0cc2fb;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.dialogBlock .nameDialog {
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: rgba(135, 140, 140, 0.86);
    height: 15px;
    line-height: 15px;
    box-shadow: 0 0 5px black;
}

#pictureBack {
    padding: 0;
    height: 70px;
    width: 70px;
    overflow-y: hidden;
    margin: 3px;
    background-size: cover;
}

.asks {
    border-radius: 5px;
    width: 100%;
    border: 1px solid #25a0e1;
    background-color: rgba(33, 176, 255, 0.6);
    float: left;
    margin-top: 4px;
    height: 22px;
    transition: 100ms;
    text-align: left;
}

.asks:hover {
    background-color: #e1bf25;
    border: 1px solid #e1bf25;
}

.asks:active {
    transform: scale(0.98);
}

.asks .wrapperAsk {
    height: 16px;
    overflow-y: hidden;
    width: calc(100% - 22px);
    margin: 1px;
    padding: 2px 10px;
    line-height: 17px;
}

.asks .wrapperAsk:hover:after {
    content: '  <--';
    color: yellow;
}

.dialogItems {
    border-radius: 5px;
    height: 40px;
    float: left;
    width: 294px;
    margin: auto auto 2px 3px;
}

.dialogCredits {
    background: #307294;
    box-shadow: inset 0 0 5px black;
    height: 100%;
    float: left;
    width: 70px;
    border-radius: 5px;
}

.dialogCredits div {
    text-align: center;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #0ba1f1;
    z-index: 999;
    background-size: 100% 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0), rgb(37, 160, 225) 6px);
    line-height: 19px;
    font-size: 12px;
    margin: 2px 0 2px 1px;
    width: 62px;
    box-shadow: 0 0 5px black;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding-left: 4px;
}

.dialogSlots {
    background: #8cb3c7;
    box-shadow: inset 0 0 5px black;
    height: calc(100% - 10px);
    float: right;
    width: 212px;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 5px;
}