#chat {
    position: absolute;
    display: block;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    border: 1px solid #25a0e1;
    background-size: 100% 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    bottom: 15px;
    left: 15px;
    z-index: 11;
}

#chat .topButton:nth-child(2) {
    font-size: 22px;
    line-height: 0;
}

#chat .tabs {
    height: 15px;
    width: 200px;
    float: left;
    margin: 2px 0;
    user-select: none;
    position: relative;
}

#chatTabsLeftArrow, #chatTabsRightArrow {
    height: 15px;
    width: 15px;
    position: absolute;
    color: #f9ff00;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    font-size: 20px;
    line-height: 15px;
    font-weight: 900;
    top: 0;
}

#chatTabsRightArrow {
    right: 0;
}

#chatTabsLeftArrow:hover, #chatTabsRightArrow:hover {
    color: #00ffdf;
}

#chatTabsLeftArrow:active, #chatTabsRightArrow:active {
    transform: scale(0.95);
}


#tabsGroup {
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 6px;
    padding-bottom: 4px;
    position: relative;
    top: -2px;
    margin-left: 16px;
    text-align: left;
}

#tabsGroupWrapper {
    height: 15px;
    width: 184px;
}

#tabsGroup div {
    height: 16px;
    display: inline-block;
    font-size: 12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid rgb(58, 96, 134);
    margin-left: -1px;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 -1px 0 black;
    user-select: none;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding: 0 7px;
    line-height: 17px;
}

.actionChatTab {
    color: #fff200 !important;
    border-bottom: 0 !important;
    box-shadow: none !important;
}

#tabsGroup div:hover {
    color: #ffb60f;
}

#tabsGroup div:active {
    transform: scale(0.95);
}

#chat input {
    width: 284px;
    height: 30px;
    border-radius: 0 0 5px 5px;
    border: 0;
    margin-left: 0;
    background: rgba(91, 98, 104, 0.9);
    color: #ffef0f;
    box-shadow: inset 0 0 5px black;
    background: linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.1) 21%), #adc6cd;
    background-size: 100% 3px;
}

#chat input::placeholder {
    color: rgb(126, 127, 149);
    font-size: 15px;
}

#chatBox, #usersBox {
    padding: 5px;
    word-wrap: break-word;
    overflow-y: scroll;
    border-radius: 5px 0 0 0;
    text-align: left;
    margin: auto auto 2px 3px;
    width: 160px;
    height: 135px;
    text-shadow: #28a5e4 0 0 4px;
    font-family: sans-serif;
    font-size: 9pt;
    float: left;
    box-shadow: inset 0 0 5px black;
    background: linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.1) 21%), #adc6cd;
    background-size: 100% 3px;
}

#usersBox {
    background: #89969c;
}

#usersBox {
    border-top-left-radius: 0;
    float: right;
    margin: auto 3px 2px 0;
    width: 121px;
    padding: 0;
    height: 145px;
}

.ChatUserName {
    color: #ffffff;
}

.ChatText {
    color: #ffef0f;
}

#chat .topButton {
    margin-right: 14px;
}

#allGroupsWindow {
    top: 20%;
    left: calc(50% - 100px);
    height: 300px;
    width: 230px;
    position: absolute;
    background-size: 100% 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    border: 1px solid #25a0e1;
    border-radius: 5px;
    padding: 0 5px 5px 5px;
}

#allGroupsWindow .topButton {
    margin-top: 5px;
}

#allGroupsWindow h3 {
    display: block;
    height: 17px;
    background: linear-gradient(0deg, red, yellow);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 15px;
    margin: 3px 3px 0 3px;
    font-weight: 100;
    padding: 0 5px;
}

#allGroupsWindow h4 {
    text-align: left;
    height: 14px;
    font-size: 12px;
    margin: 0px 0 1px 1px;
    border-radius: 0 20px 0 0;
    padding-left: 11px;
    border: 1px solid #793f1f;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(251, 93, 0, 0.55), rgba(225, 37, 46, 0.6) 6px);
    color: #ff7800;
    line-height: 15px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#allGroupsWindow input {
    margin-top: 3px;
    float: left;
}

#allGroupsWindow input[type="button"]:active {
    transform: scale(0.95);
}

#ViewChatGroups {
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 5px;
    width: 100%;
    height: 255px;
    float: left;
    margin-top: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatGroup {
    clear: both;
    transition: 0.2s;
    height: 25px;
    border-radius: 5px;
    width: 208px;
    padding: 2px 5px 2px;
    color: #ff7800;
    font-size: 15px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.chatGroup:hover {
    background: linear-gradient(22deg, rgba(183, 195, 201, 0.29), rgba(183, 195, 201, 0.29));
}

.chatGroup:active {
    transform: scale(0.95)
}

.chatGroup > div {
    float: left;
}

.chatGroup .chatPlayerCount {
    text-align: center;
}

.chatGroup .public {
    height: 24px;
    width: 20px;
    background-size: cover;
    background-image: url("https://img.icons8.com/plasticine/100/000000/lock-2.png");
}

.chatLogo {
    height: 25px;
    width: 25px;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chatName {
    width: 91px;
    line-height: 25px;
    text-align: left;
    margin-left: 10px;
}

.chatPlayerCount {
    width: 60px;
    line-height: 25px;
    text-align: left;
    color: #cfdede;
}

.chatUserLine {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 25px;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.chatUserLine:hover {
    background: rgba(0, 0, 0, 0.2);
}

.chatUserLine div {
    display: inline-block;
}


.chatUserIcon {
    height: 25px;
    width: 25px;
    background: rgba(0, 0, 0, 0.3);
    float: left;
    box-shadow: inset 0 0 5px black;
    background-size: cover;
}

.chatUserName {
    line-height: 35px;
    margin-left: 2px;
}

.chatMessage {
    margin-bottom: 3px;
    clear: both;
    min-height: 25px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.chatSystem {
    color: #ff8100;
    font-size: 10px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.chatMessage .chatUserIcon {
    margin-right: 5px;
}

.alertChatTab {
    animation: shadow 2s infinite ease-in-out;
}

.exitChatButton {
    height: 12px;
    width: 12px;
    position: absolute;
    right: 5px;
    top: 6px;
    text-align: center;
    line-height: 12px;
    color: red;
    font-size: 15px;
}

.exitChatButton:hover {
    color: yellow;
}

.exitChatButton:active {
    transform: scale(0.9);
}

@keyframes shadow {
    from {
        color: #ff7800;
    }
    50% {
        color: #ecffa7;
    }
    to {
        color: #ff7800;
    }
}

#notifyBlock {
    position: absolute;
    background-color: rgb(33, 176, 255);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px 20px 0px 0px;
    width: 259px;
    height: 12px;
    left: 4px;
    top: -16px;
    box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.5);
    padding-left: 3px;
    padding-top: 1px;
}

#notifyBlock > div {
    position: relative;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: rgb(255, 240, 0);
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    float: left;
    margin-left: 3px;
    transition: 0.1s;
}

#notifyBlock > div:active {
    transform: scale(0.95);
}

@keyframes new {
    from {
        box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 1px 1px rgba(0, 0, 0, 0.25);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(31, 255, 0, 0.8), 0 0 30px 20px rgba(0, 255, 36, 0.6);
    }
    to {
        box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 1px 1px rgba(0, 0, 0, 0.25);
    }
}

#notifyBlock > div:hover {
    box-shadow: 0 0 1px 1px rgba(236, 255, 167, 0.5);
}

.missionNotify {
    visibility: hidden;
    position: absolute;
    bottom: 9px;
    left: 0;
    background-size: 100% 3px;
    background-image: linear-gradient(0deg, rgba(7, 41, 60, 0.6) 87%, rgba(0, 62, 95, 0.5) 30%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 200px;
    width: 260px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    overflow-y: scroll;
}

.missionNotify h3 {
    margin: 0;
    text-align: left;
    padding-left: 5px;
    color: yellow;
}

.missionNotify h4 {
    margin: 0;
    color: #78ff00;
    font-size: 11px;
    text-align: left;
    padding-left: 5px;
}

.missionNotify p, .notifyParagraph {
    text-align: justify;
    padding: 5px;
    color: #ff8100;
    margin: 5px 0;
    text-indent: 1.5em;
}

.missionNotify a:link, .importantly {
    text-decoration: none;
    color: aqua;
}

.missionNotify a:visited {
    text-decoration: none;
    color: aqua;
}

.missionNotify a:hover {
    text-decoration: none;
    color: #0093ff;
}

.notifyIconItem {
    display: inline-block;
    height: 35px;
    width: 35px;
    position: relative;
    box-shadow: inset 0 0 4px 0 white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 0 4px;
}

#chatSubMenu {
    position: absolute;
    display: inline-block;
    background-size: 100% 2px;
    background-image: linear-gradient(0deg, rgba(7, 41, 60, 0.8), rgba(0, 62, 95, 0.8));
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    min-height: 20px;
    min-width: 80px;
    padding: 5px;
    z-index: 950;
    text-shadow: 1px 1px 2px black, 0 0 1em #696969;
}

.chatSubMenuUserAction input {
    display: block;
    width: 100%;
    margin: 2px auto 0;
}

#chatSubMenu .chatUserLine {
    height: 35px;
    background: #176f6fa1;
}

#chatSubMenu .chatUserIcon {
    width: 35px;
    height: 35px;
}

#chatSubMenu .chatUserName {
    display: block;
    line-height: 18px;
    text-align: left;
    padding-right: 4px;
}

#chatSubMenu .chatUserTitle {
    display: block;
    line-height: 15px;
    text-align: left;
    font-size: 12px;
    text-indent: 8px;
    color: #efd800;
    padding-right: 4px;
}

#userGroups input {
    width: calc(100% - 20px);
    margin-left: 5px;
}

#NewChatCreateWrapper {
    height: 227px;
    width: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    border: 1px solid #25a0e1;
    background-size: 100% 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    border-radius: 5px;
}

#NewChatCreate {
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 5px;
    width: calc(100% - 8px);
    height: 172px;
    margin: 24px auto 0;
    padding-top: 5px;
}

#NewChatCreateWrapper input[type="button"] {
    margin-top: 3px;
}

#NewChatCreateWrapper h3 {
    display: block;
    height: 17px;
    background: linear-gradient(0deg, red, yellow);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 15px;
    margin: 3px 3px 0 3px;
    font-weight: 100;
    padding: 0 5px;
}

#nameNewChatGroup, #passNewChatGroup {
    float: left;
    margin: 0 10px 2px;
    width: 263px;
}

#avatarNewChatGroupWrapper {
    float: left;
    clear: both;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    box-shadow: inset 0 0 3px;
    border-radius: 5px;
    position: relative;
}

#avatarNewChatGroupWrapper label {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 35px);
    width: 50px;
    font-size: 12px;
    background: #79a0b4;
    border-radius: 5px;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding: 0 10px;
    box-shadow: 0 0 2px black;
    opacity: 0.3;
    transition: 0.2s;
}

#avatarNewChatGroupWrapper label:hover {
    opacity: 1;
}

#avatarNewChatGroupWrapper label:active {
    transform: scale(0.97);
}

#avatarNewChatGroup {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#greetingsNewChatGroupWrapper {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

#greetingsNewChatGroupWrapper h4 {
    text-align: left;
    height: 14px;
    font-size: 12px;
    margin: 0 0 2px -4px;
    border-radius: 0 20px 0 0;
    padding-left: 11px;
    border: 1px solid #793f1f;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(251, 93, 0, 0.55), rgba(225, 37, 46, 0.6) 6px);
    color: #ff7800;
    line-height: 15px;
    width: 162px;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#greetingsNewChatGroupWrapper textarea {
    box-shadow: inset 0 0 5px black;
    background: linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.1) 21%), #adc6cd;
    background-size: 10px 3px;
    height: 61px;
    width: 150px;
    margin: 0 0 0 -4px;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    resize: none;
    color: #ffef0f;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#chatPassBlock {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50%);
    width: 200px;
    height: 55px;
    display: block;
    background-size: 100% 2px;
    background-image: linear-gradient(0deg, rgba(7, 41, 60, 0.6), rgba(0, 62, 95, 0.5));
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 12;
}

#chatPassBlock input[type="text"] {
    width: 177px;
    margin: 6px;
}

#chatPassBlock input[type="button"] {
    width: 80px;
}

.localTabChat {
    background-color: rgba(0, 255, 255, 0.5);
}

.privateTabChat {
    background-color: rgba(230, 0, 255, 0.5);
}