body {
    background-color: #696969;
    text-align: center;
}

input {
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 1px solid #25a0e1;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-size: 100% 2px, 4px 4px, cover;
    animation: menuAnimation 3000ms linear infinite;
}

select {
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 1px solid #25a0e1;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-size: 100% 2px, 4px 4px, cover;
    animation: menuAnimation 3000ms linear infinite;
}

input:hover {
    background-color: rgba(0, 120, 211, 0.9);
}


.h {
    font-weight:bold;
    text-shadow: #28a5e4 0 0 4px;
    color:  #a5d5ef
}

.button {
    outline: none;
    border: 1px solid #25a0e1;
    background-color: rgba(26, 169, 218, 0.5);
    border-radius: 10px;
    padding: 5px 20px 4px;
    text-shadow: #28a5e4 0 0 4px;
    color:  #a5d5ef;
    z-index: 11;
}

.button:hover {
    background-color: rgba(0, 120, 211, 0.9);
}

.button:active {
    position: relative;
    top: 3px;
}

.button.noActive {
    background-color: rgba(20, 81, 111, 0.5);
    text-shadow: rgba(45, 122, 170, 0.55) 0 0 4px;
    color: rgba(165, 213, 239, 0.67);
}

.button.noActive:hover {
}

.button.noActive:active {
    top: 0;
}

.animateTable{
    z-index: 10;
    position:relative;
    box-shadow: 0 0 30px 0 rgb(0, 164, 255);
    animation: menuAnimation 3000ms linear infinite;
    border: 1px solid #25a0e1;
    border-radius: 10px;
    background-size: 100% 2px, 4px 4px, cover;
    transition-property: background-image;
    text-shadow: #28a5e4 0 0 4px;
    color:  #a5d5ef
}

.table {
    position:relative;
    border: 1px solid #25a0e1;
    border-radius: 10px;
    transition-property: background-image;
    text-shadow: #28a5e4 0 0 4px;
    color:  #a5d5ef
}

.Failed {
    color: rgb(255, 95, 97);
}

.Success {
    color: rgb(27, 255, 4);
}
.Value {
    color: #00fffd
}

.moveWindow {
    text-shadow: #28a5e4 0 0 4px;
    color:  #a5d5ef;
}

.moveWindow:hover {
    color: #00fffd;
}