body{

}
.Select{
    margin: 2px;
    padding: 0;
    border: 1px solid #53b7c4;
    border-radius: 4px;
    color: black;
    background-color: #12e6ff;
    width: 75px;
}

.Select:hover {
    border: 1px solid #4a8af4;
    background-color: #63c0cd;
}

.Select.Map {

}

.Select.Map:hover {

}

.Select.Game {
    width: 365px;
}

.gameInfo {
    padding: 0;
    border: 2px solid #d6e9c6;
    border-radius: 4px;
    color: black;
    background-color: rgba(81, 88, 88, 0.18);
    width: 300px;
    height: 300px;
    display:inline-block;
}


