body{

}
#lobby {
    padding: 10px;
    border: 1px solid #53b7c4;
    display:inline-block;
    width: 400px;
}
#logout {
    padding: 10px;
    display:inline-block;
    vertical-align:top;
    border: 1px solid #53b7c4;
}
#login {

}
.User {
    margin: 2px;
    padding: 0;
    border: 1px solid #ebcd8d;
    border-radius: 4px;
    color: black;
    background-color: #ebcd8d;
    width: 250px;
}

.User.List{
    border: 1px solid #53b7c4;
    background-color: #12e6ff;
}

.User:hover {
    border: 1px solid #ebcd8d;
    background-color: #ebcd8d;
}
.User.List:hover {
    border: 1px solid #4a8af4;
    background-color: #63c0cd;
}
.Select{
    margin: 2px;
    padding: 0;
    border: 1px solid #53b7c4;
    border-radius: 4px;
    color: black;
    background-color: #12e6ff;
    width: 75px;
}

.Select:hover {
    border: 1px solid #4a8af4;
    background-color: #63c0cd;
}

.Maps {
    margin: 2px;
    padding: 0;
    border: 1px solid #ebcd8d;
    border-radius: 4px;
    color: black;
    background-color: #ebcd8d;
    width: 250px;
}

.Games {
    margin: 2px;
    padding: 0;
    border: 1px solid #ebcd8d;
    border-radius: 4px;
    color: black;
    background-color: #ebcd8d;
    width: 375px;
}

.Select.Map {
    width: 250px;
}

.Select.Map:hover {

}

.Select.Game {
    width: 375px;
}
.Select.DontEndGame {
    width: 375px;
}
.gameInfo {
    border: 2px solid #d6e9c6;
    border-radius: 4px;
    color: black;
    background-color: rgba(81, 88, 88, 0.18);
    width: 400px;
    display:inline-block;
}


