body{

}
#lobby {
    padding: 5px;
    border: 1px solid #53b7c4;
    display:inline-block;
    width: 400px;
    height: 425px;
}
#logout {
    padding: 5px;
    display:inline-block;
    vertical-align:top;
    border: 1px solid #53b7c4;
    width: 190px;
}
#login {

}

#info {
    padding: 5px;
    display:inline-block;
    vertical-align:top;
    border: 1px solid #53b7c4;
    width: 200px;
    height: 425px;
}

#infoImage {
    padding: 5px;
    display:inline-block;
    vertical-align:top;
    border: 1px solid #53b7c4;
    width: 190px;
    height: 190px;
}
.User {
    margin: 2px;
    padding: 0;
    border: 1px solid #ebcd8d;
    border-radius: 4px;
    color: black;
    background-color: #ebcd8d;
    width: 300px;
}

.User.List{
    border: 1px solid #53b7c4;
    background-color: #12e6ff;
}

.User:hover {
    border: 1px solid #ebcd8d;
    background-color: #ebcd8d;
}
.User.List:hover {
    border: 1px solid #4a8af4;
    background-color: #63c0cd;
}
.Select{
    margin: 2px;
    padding: 0;
    border: 1px solid #53b7c4;
    border-radius: 4px;
    color: black;
    background-color: #12e6ff;
    width: 75px;
}

.Select:hover {
    border: 1px solid #4a8af4;
    background-color: #63c0cd;
}

.Maps {
    margin: 2px;
    padding: 4px;
    border: 3px solid #9c7f55;
    border-radius: 4px;
    color: black;
    background-color: #ebcd8d;
    width: 250px;
    height: 175px;
}

.Games {
    margin: 2px;
    padding: 4px;
    border: 3px solid #9c7f55;
    border-radius: 4px;
    color: black;
    background-color: #ebcd8d;
    width: 375px;
    height: 175px;
}

.Select.Map {
    width: 255px;
}
.Select.Map:hover {
    width: 265px;
}


.Select.Map:hover {

}

.Select.Game {
    width: 380px;
}
.Select.Game:hover {
    width: 390px;
}
.Select.DontEndGame {
    width: 380px;
}
.Select.DontEndGame:hover {
    width: 390px;
}
.gameInfo {
    border: 2px solid #d6e9c6;
    border-radius: 4px;
    color: black;
    background-color: rgba(81, 88, 88, 0.18);
    width: 400px;
    display:inline-block;
}


