.fieldUnit {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #404040;
    width: 70px;
    height: 70px;
    display:inline-block;
    text-shadow:1px 1px #000000;
    color: #fbfdff;
    font-weight:bold;
    font-size: 18px;
    overflow: hidden;
    opacity: 0.6;
}
.fieldUnit:hover {
    border: 1px solid #4a8af4;
    background-color: #d9d92e;
}
.fieldUnit.tank{
    background-image: url(/img/tank.png);
    background-size: 100%;
    opacity: 1;
}
.fieldUnit.scout{
    background-image: url(/img/scout.png);
    background-size: 100%;
    opacity: 1;

}
.fieldUnit.artillery{
    background-image: url(/img/arta.png);
    background-size: 100%;
    opacity: 1;
}

.fieldUnit.obstacle {
    background-image: url(/img/obstacle.png);
    background-size: 100%;
    opacity: 1;
}

.fieldUnit.respawn {
    background-color: #9c7f55;
    color: #d4d4d4;
    opacity: 0.6;
}

.fieldUnit.create {
    background-color: #cefc46;
    color: #d4d4d4;
    opacity: 0.6;
}

.fieldUnit.move {
    background-color: #98b0fc;
    color: #d4d4d4;
    opacity: 0.6;
}

.fieldUnit.open {
    background-color: #749167;
    opacity: 0.0;
}