#InventoryTip, #InventoryTipOver, #InventoryTipSelect {
    pointer-events:none;
    position: absolute;
    display: inline-block;
    background-size: 10px 2px;
    background-image:linear-gradient(1deg,rgba(33, 176, 255, 1), rgba(37, 160, 225, 0.1411764705882353) 6px);
    border: 1px solid #25a0e1;
    border-radius: 10px;
    min-height: 20px;
    min-width: 80px;
    padding: 5px;
    z-index: 950;
    text-shadow: 1px 1px 2px black, 0 0 1em #696969; /* Параметры тени */
}

#InventoryTip input {
    display: block;
    margin: 2px auto 0;
    width: 100%;
}

#InventoryTipSelect {
    min-height: 20px;
    width: 90px;
}

#InventoryTipOver {
    min-height: 10px;
    width: auto;
    min-width: 20px;
}

#paramsItemTable {
    height: 50px;
    font-size: 12px;
    margin: 0 auto;
    width: 150px;
}

#paramsItemTable td {
    text-align: left;
}

.InventoryTipName {
    font-family: Arial;
    font-size: 16px;
    color: #00FAFF;
    text-shadow:
            -0   -1px 2px #000000,
            0   -1px 2px #000000,
            -0    1px 2px #000000,
            0    1px 2px #000000,
            -1px -0   2px #000000,
            1px -0   2px #000000,
            -1px  0   2px #000000,
            1px  0   2px #000000,
            -1px -1px 2px #000000,
            1px -1px 2px #000000,
            -1px  1px 2px #000000,
            1px  1px 2px #000000,
            -1px -1px 2px #000000,
            1px -1px 2px #000000,
            -1px  1px 2px #000000,
            1px  1px 2px #000000;
}

#description {
    min-height: 30px;
    width: 100%;
    font-size: 12px;
    border-radius: 5px;
    background: #4c4c4c;
    border: 1px solid #959595;
}