body {
    text-align: center;
    background-image: url("../../assets/bases/baseBackgrounde.jpg");
    background-color: #4c4c4c;
}

#ServiceTable {
    top: 15px;
    left: 15px;
    text-align: center;
    float: left;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    border-radius: 5px;
    position: relative;
    padding: 2px;
}

#ServiceTable div {
    height: 30px;
    width: 30px;
    filter: drop-shadow(0 0 2px black);
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 5px;
    margin: 2px 5px 2px 5px;
    float: left;
    transition: 0.2s;
    background-size: contain;
}

#ServiceTable div:hover {
    background-color: #b4eaff;
}

#ServiceTable div:active {
    transform: scale(0.95);
}