#ChoiceNameSquad {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 164, 255);
    background-size: 100% 2px, 4px 4px, cover;
    animation: menuAnimation 7000ms linear infinite;
    position: absolute;
    top: 175px;
    left: 130px;
    z-index: 900;
    height: 66px;
    width : 190px;
}