#matherShipTD {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#unitsTD {
    text-align: left;
}

.lobbyUnitBox {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border: 1px solid #25a0e1;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

#lobbyMSWeapon {
    height: 40px;
    width: 40px;
    background-size: contain;
    margin: 10px 10px 5px 15px;
}

.lobbyUnitWeapon {
    height: 52px;
    width: 52px;
    background-size: contain;
}