#mainConstructor {
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 164, 255);
    background-size: 100% 2px, 4px 4px, cover;
    transition-property: background-image;
    animation: menuAnimation 7000ms linear infinite;
    display:inline-block;
    text-shadow: #28a5e4 0 0 4px;
    color:  #a5d5ef;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: 900;
}

#unitMenu {
    padding-top: 10px;
    border-radius: 10px;
    display:inline-block;
    width: 240px;
    height: 405px;
    border: 1px solid #25a0e1;
    position: relative;
    text-align: center;
}

.ConstructorMenu {
    padding-top: 10px;
    border-radius: 10px;
    display:inline-block;
    width: 100px;
    height: 405px;
    border: 1px solid #25a0e1;
    position: relative;
    text-align: center;
}

.ElementUnitBox {
    height: 50px;
    width: 50px;
    border: 2px solid #25a0e1;
    display: inline-block;
    position: absolute;
    top: 40px;
}
.ElementUnitBox.left {
    left: 20px;
}

.ElementUnitBox.right {
    right: 20px;
}

#picUnit {
    height: 100px;
    width: 100px;
    border: 2px solid #25a0e1;
    position:absolute;
    top: 140px;
    left: 68px;
}

.table.params {
    font-size: 9pt;
    position:absolute;
    bottom: 10px;
    width: 100px;
}

.table.params.chassis {
    left: 10px;
}

.table.params.weapon {
    right: 10px;
}

#mask {
    background-color:rgba(0,0,0,.7);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 899;
    display: none;
}