#UsersStatus {
    top: 50px;
    left: calc(50% - 200px);
    height: 300px;
    width: 400px;
    border: 1px solid #25a0e1;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    position: absolute;
    border-radius: 5px;
    padding: 22px 5px 5px;
    z-index: 11;
}

#userAvatarWrapper label {
    display: block;
    height: 20px;
    width: 55px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: inset 0 0 2px black;
    border: 0;
    background: #79a0b4;
    border-radius: 5px;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    float: left;
    margin-left: 26px;
    margin-top: 4px;
    font-size: 9px;
    line-height: 21px;
}

#userAvatarWrapper label:hover {
    background-color: rgba(0, 120, 211, 0.9);
}

#userAvatarWrapper label:active {
    transform: scale(0.95);
}

#usersStatusTabs {
    position: absolute;
    left: 0;
    top: 5px;
    width: 233px;
}

#tabsWrapper {
    height: 15px;
    width: 216px;
}

#usersStatusTabsGroup {
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 6px;
    padding-bottom: 4px;
    position: relative;
    top: -2px;
    margin-left: 16px;
    text-align: left;
}

#usersStatusTabsGroup div {
    height: 16px;
    display: inline-block;
    font-size: 12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid rgb(58, 96, 134);
    margin-left: -5px;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 -1px 0 black;
    user-select: none;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding: 0 7px;
    line-height: 17px;
}

#usersStatusTabsGroup div:hover {
    color: #ffb60f;
}

#usersStatusTabsGroup div:active {
    transform: scale(0.95);
}

#TabsLeftArrow, #TabsRightArrow {
    height: 15px;
    width: 15px;
    position: absolute;
    color: #f9ff00;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    font-size: 20px;
    line-height: 15px;
    font-weight: 900;
    top: 0;
}

#TabsRightArrow {
    right: 0;
}

#TabsLeftArrow:hover, #TabsRightArrow:hover {
    color: #00ffdf;
}

#usersStatusWrapper {
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 5px;
    height: 300px;
    position: relative;
}

#userAvatar {
    height: 75px;
    width: 75px;
    background: rgba(0, 0, 0, 0.3);
    float: left;
    box-shadow: inset 0 0 5px black;
    margin-left: 22px;
    margin-top: 7px;
    background-size: cover;
}

#userAvatarWrapper {
    float: left;
    width: 100px;
}

#userAvatarWrapper input {
    margin-top: 5px;
    margin-left: 19px;
}

#userAvatarWrapper input:active {
    transform: scale(0.95);
}

#userName, #biography h3 {
    white-space: nowrap;
    float: left;
    text-align: left;
    height: 17px;
    border-radius: 5px;
    border: 1px solid #25a0e1;
    z-index: 999;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    line-height: 19px;
    margin: 7px 0px 0px 14px;
    width: 310px;
    box-shadow: 0 0 5px black;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding: 2px 6px;
}

#UserStatusPanel {
    height: 110px;
    width: 290px;
    float: left;
    font-size: 12px;
}

#UserStatusPanel div {
    text-align: left;
    height: 13px;
    border-radius: 5px;
    border: 1px solid #000000;
    z-index: 999;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(74, 74, 74, 0.6), rgba(37, 160, 225, 0.6) 6px);
    line-height: 13px;
    margin: 7px 0 0 10px;
    width: 250px;
    box-shadow: 0 0 5px black;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding: 2px 6px;
}

#UserStatusPanel div span {
    float: right;
}

#UserStatusPanel #scientific_points {
    color: cornflowerblue;
    width: 170px;
    margin-left: 25px;
}

#UserStatusPanel #attack_points {
    color: crimson;
    width: 170px;
    margin-left: 25px;
}

#UserStatusPanel #production_points {
    color: chartreuse;
    width: 170px;
    margin-left: 25px;
}

#biography {

}

#biography h3 {
    margin: 2px 0px 0px 14px;
}

#biography textarea {
    box-shadow: inset 0 0 5px black;
    background: linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.1) 21%), #adc6cd;
    background-size: 10px 3px;
    height: 80px;
    width: 363px;
    margin: 5px auto 0px;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    resize: none;
    color: #ffef0f;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#biography input {
    float: left;
    margin-top: -1px;
    margin-left: 26px;
}

#skillTip {

}

#skillTip h3 {
    float: left;
    text-align: left;
    height: 17px;
    border-radius: 5px;
    border: 1px solid #25a0e1;
    z-index: 999;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    line-height: 19px;
    margin: 7px 0px 0px 14px;
    width: 250px;
    box-shadow: 0 0 5px black;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding: 2px 6px;
}

#skillIcon {
    height: 75px;
    width: 75px;
    background: rgba(0, 0, 0, 0.3);
    float: left;
    box-shadow: inset 0 0 5px black;
    margin-left: 8px;
    margin-top: 7px;
    background-size: cover;
}

#skillDescription {
    overflow-y: scroll;
    float: left;
    box-shadow: inset 0 0 5px black;
    background: linear-gradient(1deg, transparent 60%, rgba(0, 0, 0, 0.1) 21%), #adc6cd;
    background-size: 10px 3px;
    height: 65px;
    width: 250px;
    margin: 5px 15px;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    resize: none;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#skillUpdatePanel {
    height: 36px;
    width: 66px;
    position: absolute;
    top: 84px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 18px;
    box-shadow: inset 0 0 2px black;
    border: 0;
    font-size: 11px;
    background: #79a0b4;
    border-radius: 5px;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#listSkills {
    float: left;
    box-shadow: inset 0 0 5px black;
    background: #79a0b4;
    height: 175px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
}

#listSkills h4 {
    float: left;
    text-align: left;
    height: 9px;
    border-radius: 5px;
    border: 1px solid #000000;
    z-index: 999;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(74, 74, 74, 0.6), rgba(37, 160, 225, 0.6) 6px);
    line-height: 9px;
    margin: 7px 100% 0 1px;
    width: 160px;
    box-shadow: 0 0 5px black;
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    padding: 2px 6px;
    font-size: 10px;
}

#listSkills h4 span {
    float: right;
}

.skill {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    float: left;
    transition: 0.2s;
    position: relative;
}

.skill:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.skill:active {
    transform: scale(0.95);
}

.skillLvl {
    position: absolute;
    bottom: 2px;
    height: 10px;
    padding-left: 1px;
}

.skillLvl div {
    height: 8px;
    width: 3px;
    float: left;
    margin-left: 2px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.skillPrice {
    color: #ff7800;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
    font-size: 9px;
    text-align: right;
    padding-right: 2px;
    padding-top: 1px;
}

#skillLvl {
    height: 17px;
    margin-top: 9px;
    width: 55px;
    float: left;
    margin-left: -3px;
}

#skillLvl div {
    height: 17px;
    width: 7px;
    float: left;
    margin-left: 2px;
    border-radius: 6px;
    border: 1px solid rgba(41, 41, 41, 0.51);
}

#upperSkill {
    width: 13px;
    height: 13px;
    float: right;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 11px;
    margin-right: -4px;
    border-radius: 8px;
    background: #868686;
    font-size: 16px;
    line-height: 14px;
    font-weight: 900;
    transition: 0.2s;
}

#upperSkill:hover {
    background: #b4e5ff;
}

#upperSkill:active {
    transform: scale(0.95);
}

.miniSkillIcon {
    background-size: cover;
}

@keyframes alert {
    0% {
        -moz-box-shadow: 0 0 15px 0 rgb(255, 0, 19);
        box-shadow: 0 0 15px 0 rgb(255, 2, 0);
    }
    95% {
        -moz-box-shadow: inset 0 0 30px 15px rgba(204, 169, 44, 0);
        box-shadow: 0 0 30px 15px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: inset 0 0 20px 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
}

#UsersStatus #actionPanel {
    height: 75px;
    margin-top: 2px;
}

#UsersStatus #actionPanel input {
    width: 100%;
    margin-bottom: 1px;
}