#container {
    width: 100%;
    margin: 0 auto;
}

#head {
    height: 280px;
    width: 150px;
    background-size: 5px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
    border-radius: 10px;
    float: left;
    padding-right: 15px;
}

#head table {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    text-align: left;
    width: 130px;
}

#head table tr:first-child {
    background: linear-gradient(22deg, rgb(221, 112, 52), #6c6c6c);
}

#head table tr:first-child td:first-child {
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
    text-shadow: 0 0 2px black;
}

#head table td {
    position: relative;
}

#head table input {
    padding: 0;
    height: 20px;
    width: 20px;
}

#head table input:active {
    position: absolute;
    top: 2px;
    left: 2px;
}

#main {
    float: left;
    height: 878px;
    width: calc(100% - 650px);
    border: 1px solid black;
    margin: 10px;
}

#coordinates {
    float: right;
    height: 615px;
    width: 460px;
    margin-top: 10px;
    background-size: 5px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
    border-radius: 10px;
}

#coordinates h3 {
    background: linear-gradient(22deg, rgb(221, 112, 52), #6c6c6c);
    color: aliceblue;
    width: 260px;
    margin: 5px auto;
    text-shadow: 0 0 2px black;
    border-radius: 10px;
}

#newCoordinate {
    float: right;
    height: 265px;
    width: 460px;
    border-radius: 10px;
    background-size: 5px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

#newCoordinate h4 {
    background: linear-gradient(22deg, rgb(221, 112, 52), #6c6c6c);
    color: aliceblue;
    width: 260px;
    margin: 5px auto;
    text-shadow: 0 0 2px black;
    border-radius: 10px;
}

#newCoordinate table {
    text-align: left;
}

#newCoordinate table tr td:first-child {
    text-align: right;
}

#newCoordinate table input[type="submit"] {
    padding: 0;
    height: 20px;
    width: 20px;
}

#sizeMap {
    float: left;
    width: 100%;
    height: 20px;
    margin-left: 8px;
}

#sizeMap input {
    width: 20px;
}

#sizeMap input:active {
    position: relative;
    top: 2px;
}

#sizeMap h4 {
    background: linear-gradient(22deg, rgb(221, 112, 52), #6c6c6c);
    color: aliceblue;
    text-shadow: 0 0 2px black;
    margin: 5px auto;
    border-radius: 5px;
}

#hideMeta {
    float: left;
    width: 100%;
    height: 20px;
    margin-left: 8px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #25a0e1;
    box-shadow: 0 1px 2px rgba(0,0,0,1);
    background-size: 5px 2px;
    background-image: linear-gradient(1deg,rgba(33, 176, 255, 0.61), rgba(37, 160, 225, 0.14) 6px);
    user-select: none;
}

#hideMeta:hover {
    background-size: 5px 2px;
    background-image: linear-gradient(1deg, rgba(21, 108, 159, 0.61), rgba(37, 160, 225, 0.14) 6px);
}

#hideMeta:active {
    position: relative;
    top: 2px;
}
