#coordinates #notification {
    position: absolute;
    top: 0;
    left: -255px;
    background: linear-gradient(22deg, rgb(221, 112, 52), #ffa50f);
    width: 250px;
    height: 100px;
    border-radius: 10px;
    text-shadow: 0 0 2px black;
}

#coordinates #notification h5 {
    color: #ff0202;
    font-size: 20px;
    margin-top: 0;
    background: linear-gradient(22deg, rgb(147, 147, 147), #a2b6ca);
}

#coordinates #notification h4:before {
    color: #ffffff;
    content: 'Выбери на что заменить';
}