#transportBlock{

}

#transportBlock h4 {
    background: linear-gradient(22deg, rgb(221, 112, 52), #6c6c6c);
    color: aliceblue;
    text-shadow: 0 0 2px black;
    margin: 10px 0 0 8px;
    border-radius: 5px;
    float: left;
    width: 100%;
}

#transportBlock div {
    border-radius: 5px;
    width: 39px;
    height: 39px;
    display: inline-block;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    transition: 0.2s;
    margin-top: 10px;
}

#transportBlock div:active {
    transform: scale(0.95);
}