#marketBox {
    height: 600px;
    width: 1000px;
    position: absolute;
    top: 15px;
    z-index: 900;
    left: 50%;           /* выравниваем по центру */
    margin-left: -500px; /* выравниваем по центру */
    border: 1px solid #25a0e1;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-image: linear-gradient(1deg,rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
    background-size: 10px 2px;
}

#ordersBlock {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    background: rgba(183, 195, 201, 0.29);
    border-radius: 4px;
    height: 590px;
    width: 780px;
    margin: 5px;
    float: right;
}

#selectItemIcon {
    height: 65px;
    width: 65px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    background: rgba(63, 70, 74, 0.5);
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 5px;
    float: left;
}

#selectItemName {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 4px black;
    min-width: 180px;
    margin: 20px 0 0 15px;
    float: left;
    text-align: left;
}

#sellOrdersBlock, #BuyOrdersBlock, #MyOrdersBlock {
    height: 212px;
    width: 770px;
    margin: 0 5px 5px 5px;
    background: rgba(183, 195, 201, 0.29);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    overflow-y: scroll;
    border-radius: 5px;
}

#MyOrdersBlock {
    margin-top: 50px;
    height: 515px;
}

.ordersHead {
    width: 110px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(22deg, rgb(221, 112, 52), #6c6c6c);
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 4px black;
    clear: both;
}