body {
    user-select: none;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: fixed;
    top: 4%;
    right: 5%;
    height: 400px;
    width: 730px;
    pointer-events: none;
}

input {
    pointer-events:visible;
}

.moveWindow {
    pointer-events:visible;
}

.info.subMenu {
    background-size: 10px 2px;
    pointer-events:none;
    border: 1px solid #25a0e1;
    border-radius: 10px;
    text-shadow: #28a5e4 0 0 4px;
    color: #a5d5ef;
    width: 170px;
    display: inline-block;
    height: 100px;
    padding: 10px;
    z-index: 900;
    background-image:linear-gradient(1deg,rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

#inventory {
    pointer-events:none;
    font-family: sans-serif;
    font-size: 9pt;
    border: 1px solid #25a0e1;
    border-radius: 10px;
    width: 100px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cell {
    pointer-events:visible;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    border: 1px solid #959595;
    background-color: #4c4c4c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cell:hover {
    box-shadow: 0 0 5px 3px rgb(255, 149, 32);
    color: #00fffd;
    cursor: pointer;
}

.cell.Inventory:active{
    box-shadow: 0 0 5px 3px rgb(165, 213, 239);
}

#TipEquip {
    pointer-events:none;
    position: absolute;
    display: inline-block;
    z-index: 901;
    background-size: 10px 2px;
    border: 1px solid #25a0e1;
    border-radius: 10px;
    transition-property: background-image;
    width: 150px;
    padding: 5px;
    color: #a5d5ef;
    font-size: 12px;
    text-shadow: 1px 1px 2px #FF0000;
    background-image:linear-gradient(1deg,rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

#TipEquip td{
    text-shadow: #28a5e4 0 0 4px;
    font-family: sans-serif;
    font-size: 6pt;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #a5d5ef;
}

#TipEffect {
    pointer-events:none;
    position: absolute;
    display: inline-block;
    z-index: 901;
    background-size: 10px 2px;
    border: 1px solid #25a0e1;
    border-radius: 10px;
    transition-property: background-image;
    width: 90px;
    padding: 5px;
    background-image:linear-gradient(1deg,rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

#TipEffect td{
    text-shadow: #28a5e4 0 0 4px;
    font-family: sans-serif;
    font-size: 6pt;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #a5d5ef;
}

.button.subMenu {
    font-family: sans-serif;
    font-size: 6pt;
    text-shadow: #28a5e4 0 0 4px;
    color:  #a5d5ef
}

#ControlPanel {
    pointer-events:none;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    position: fixed;
    top: 1%;
    left: 3.5%;
    z-index: 900;
}

#chatBlock {
    pointer-events:none;
    bottom: 240px;
    left: 3.2%;
    position: fixed;
    z-index: 900;
}

#main {
    flex-grow: 1;
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#unitTip {
    pointer-events:none;
    vertical-align: top;
    position: fixed;
    display: none;
    font-family: sans-serif;
    font-size: 9pt;
    border-radius: 10px;
    z-index: 0;
    bottom: 1%;
    right: 1%;
}

#unitTip td {
    border: 1px solid #25a0e1;
}

#unitTip tr td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#unitTip tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table.units {
    margin-top: 15px;
}

.boxUnit {
    pointer-events:visible;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border: 1px solid #25a0e1;
    background-color: rgba(0, 0, 0, .4);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 5px;
}

.boxUnit:hover {
    box-shadow: 0 0 30px 4px rgb(0, 195, 255);
    color: #00fffd;
    cursor: pointer;
}

.UnitRow {
    text-align: center;
    vertical-align: middle;
    width: 35px;
}