#BoxUnitSubMenu {
    position: relative;
    top: 30px;
    text-align: center;
}

#UnitSubMenu {
    pointer-events: none;
    position: absolute;
    display: none;
    font-family: sans-serif;
    font-size: 9pt;
    z-index: 901;
    background-size: 10px 2px;
    border: 1px solid #25a0e1;
    text-shadow: #28a5e4 0 0 4px;
    height: 175px;
    width: 175px;
    border-radius: 100px;
    background-image:linear-gradient(1deg,rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

#hostileSubMenu {
    position: absolute;
    display: none;
    font-family: sans-serif;
    font-size: 9pt;
    z-index: 901;
    height: 150px;
    width: 150px;
}

#EquipPanel {
    width: 175px;
    height: 175px;
}

#effectPanel {
    position: relative;
    top: 20px;
    border: 1px solid #25a0e1;
    background-size: 10px 2px;
    transition-property: background-image;
    text-shadow: #28a5e4 0 0 4px;
    border-radius: 20px;
    box-shadow: 0 0 30px 4px rgb(0, 195, 255);
    background-image:linear-gradient(1deg,rgba(33, 176, 255, 0.611764705882353), rgba(37, 160, 225, 0.1411764705882353) 6px);
}

#targetButtonsTable {
    position: absolute;
    bottom: 5px;
}

.panel.Effect {
    margin: auto;
}

.button.unitSubMenu {
    box-shadow: 0 0 2px 3px rgb(0, 230, 255);
    font-size: 8px;
    text-align: center;
    padding: 2px;
    margin-left: 25px;
}

.button.unitSubMenu.noActive {
    background-color: grey;
    color: grey;
    box-shadow: 0 0 2px 3px grey;
    border: gray;
}

#powerPanel {
    height: 28px;
    width: 55px;
    border: 1px solid rgb(0, 255, 23);
    position: absolute;
    top: 70px;
    left: 53px;
    border-radius: 5px;
    font-size: 8pt;
}

#actionPoints {
    height: 14px;
    width: 55px;
    border: 1px solid #00fffd;;
    position: absolute;
    top: 105px;
    left: 53px;
    border-radius: 5px;
    font-size: 9pt;
}

#powerPanel > span {
    color: rgb(0, 255, 23);
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

#ammoBox {
    top: 65px;
    left: 25px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 0 5px 3px rgb(255, 193, 69);
    z-index: 2;
    background-color: #2c2c2c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.blink {
    -webkit-animation: blink 1s 5;
    -moz-animation:    blink 1s 5;
    -o-animation:      blink 1s 5;
    animation:         blink 1s 5;
}

@-webkit-keyframes blink {
    0%   { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes blink {
    0%   { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}