body {
    user-select: none;
    overflow:  hidden;
}

#floatTip {
    position: absolute;
    display: none;
    font-family: sans-serif;
    font-size: 9pt;
    border-radius: 10px;
    background-color: rgba(33, 176, 255, 0.6);
}

#chat {
}

#chatBlock {
    background-color: rgb(33, 176, 255);
    bottom: 200px;
    position: absolute;
    z-index: 1000;
}